.root{
    --main-background-color: whitesmoke;
    --secondary-background-color: white;
    --main-text-color: silver;
    --secondary-text-color: black;
}

body{
    position: relative;
    height: 100%;
    background-color: whitesmoke;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Navbar */

.fas{
    color: silver;
}

.navbar-bg{
    background-color: rgba(0,0,0,0.8);
}

.navbar-text{
    color: silver;
}

.button-color{
    color: silver;
}

/* swiper */

.text{
    color: gray;
}

.swiper {
    width: 1000px;
}
.swiper-slide {
    height: 50px;
    line-height: 50px;
    text-align: center;
}


/* Card-swiper */
.card-image {
    width: 100%;
    height: 100%;
}