.root{
    --main-background-color: whitesmoke;
    --secondary-background-color: white;
    --main-text-color: silver;
    --secondary-text-color: black;
    --bs-rows: 1;
    --bs-columns: 12;
    --bs-gap: 1.5rem;
}

body{
    position: relative;
    height: 100%;
    background-color: whitesmoke;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Navbar */

.fas{
    color: silver;
}

.navbar-bg{
    background-color: rgba(0,0,0,0.8);
}

.navbar-text{
    color: silver;
}

.button-color{
    color: gray;
}

/* swiper */

.text{
    color: gray;
}
.swiper {
    width: 1000px;
}
.swiper-slide {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black; 
}
a:active { 
    color: black; 
}
a:visited { 
    color: black; 
}

/* Sezione prodotti */
.subtitle-size {
    font-size: var(--subtitle-size);
}

.card-home {
    transition: all .3s cubic-bezier(0,0,.5,1);
    cursor: pointer; 
    border-radius: 18px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    /* box-sizing: none; */
}

.card-home:hover, .image-zoom {                      /** mettere virgola tra due classe per fare nelle due. Senza virgola funziona come una condizione, funziona soltanto se quella imagine è sopra il card.*/
    transition: all .3s cubic-bezier(0,0,.5,1);
    /* opacity: 0.5; */
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
    border-radius: 18px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    width: 100%;
    height: 100%;
    /* background-color: whitesmoke; */
}

.container-title-product {
    bottom: 0;
}
.border {
    border-radius: 18px;
}
/* .btn-black-white {
    color: white;
    background: var(--main-background-color);
    background: linear-gradient(to left, var(--main-background-color) 50%, var(--secondary-background-color) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.btn-black-white:hover {
    background-position: left;
} */


 /* Pagina annunci */
.width-container {
    width: 300px;
    margin-top: 3em;
    margin-left: 1em;
}
.h3-color {
    color: gray;
}
